<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{devour}}">
		{{#if devour}}Eaten!{{else}}To Eat!{{/if}}
	</button>
	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>